@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
$font-main: "IBM Plex Sans", "sans-serif";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  height: 20px;
  max-width: 90%;
}

body {
  font-family: $font-main;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator__grid {
  border-radius: 30px;
  background-color: black;
  display: grid;
  gap: 10px;
  padding: 20px;
  border: 5px solid slategrey;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator__output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator__button {
  border-radius: 30px;

  &#operationTwo {
    background-color: #b2b2b2;
  }

  &#operation {
    background-color: #dba234;
  }

  &#number {
    background-color: #393a42;
  }
}
